body{
    text-align:center;
}
header {
  background-color: #0e0e0e;
  color: white;
  padding: 5px;
  position: fixed;
  width: 100%;
  text-align:left;
}
article{
    padding-top:200px;
}
img{
	padding:5px;
}
