body{
    text-align:center;
    background: linear-gradient(90deg, #05f0b1,rgb(0, 255, 255),rgb(9, 196, 230));
    
}
header {
  background:black;
  color:white;
  width: 99%;
  padding:5px;
  text-align:left;
}
header img{
  float:right;
  height: auto;
  width: 8%;
}
h2{
  font-size: 40px;
}
p{
  font-size: 25px;
}
.credit{
  font-size: 15px;
}
img{
  padding:5px;
}
.project-image{
  display:inline-table;
}
button{
  font-size: 30px;
  border-radius: 10px;
  background-color: #e75e34;
  cursor:pointer;
}
button:hover{
  background-color: orangered;
}
button a{
  text-decoration: white;
  color: white;
  font-size: 20px;
}
footer{
  bottom:20px;
}

